* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.App {
  background-image: url('./assets/cold_weather.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-in-out;
}

.App.warm {
  background-image: url('./assets/warm_weather.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  height: auto;
  padding: 1%;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;

}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}